body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111B1E;
    overflow-x: hidden;
    line-height: normal;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #2f4c58;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #6e93d6;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

.form button {
    width: 100%;
    padding: 10px;
    border: 2px solid #63a583;
    border-radius: 10px;
    background-color: #63a583;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form button:hover {
    background-color: #3BB273;
}

.form button:focus {
    outline: none;
}

.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ad5444;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.display_notification {
    display: grid;
}

.display_notification_accept {
    background-color: #27925b;
    display: grid;   
}

.notification::before {
    display: inline-block;
    color: #fff;
    background-color: #ad5444;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}

.notification button {
    background-color: #fff;
    color: #ad5444;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.display_notification_accept button {
    color: #27925b;
}

.notification button:hover {
    background-color: #eee;
}

menu {
    background-color: #63A583;
    padding: 5px 5px;
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.text {
    color: #FFFFFF;
}

.text b {
    color: #53E88B;
}

.user-role {
    color: #ccc;
    font-size: 12px;
}

.user-phone {
    color: #ccc;
    font-size: 14px;
}

.menu-content {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: auto;
    background-color: #1B2A2F;
    transition: left 0.3s ease;
    padding-top: 5px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}

.user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px; /* Добавлен отступ для увеличения области клика */
}

.user-detail {
    display: flex;
    flex-direction: column;
}

.user-info:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Эффект при наведении */
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 1px 10px;
}

.menu-item.first {
    padding-top: 10px;
}

.menu-item.last {
    padding-bottom: 10px;
}

.menu-link {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #63A583;
    border-radius: 10px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    background-color: #77bc9b;
}

.menu-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Эффект при наведении */
}

.pages_link {
    margin-left: auto;
    margin-right: auto;
}

.show-menu {
    left: 0;
}

.modal-content {
    background-color: #2F4C58;
    color: white;
    border-radius: 10px;
    border: 2px solid #6E93D6;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: white;
}

.modal-body {
    padding: 20px;
    padding-bottom: 0px;
}

.modal-footer {
    border-top: none;
}

.btn-primary {
    background-color: #63A583;
    border-color: #63A583;
}

.btn-primary:hover {
    background-color: #77bc9b;
    border-color: #77bc9b;
}

.btn-secondary {
    background-color: #ad5444;
    border-color: #ad5444;
    color: white;
}

.btn-secondary:hover {
    color: #ccc;
}

.user-rating {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rating-label {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.rating-ellipse {
    /* width: 155px;
    height: 155px;
    border: 12px solid #FFFFFF; */
    /* opacity: 50%; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-ellipse2 {
    color: #3BB273;
    font-size: 32px;
    font-weight: bold;
}

.rating-ellipse2.bad {
    color: #d66e6e;
}

.rating-ellipse3 {
    color: #FFFFFF;
    font-size: 24px;
}

main {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111B1E;
    color: #FFFFFF;
}

.user-info-container {
    text-align: center;
}

.tutor-detail {
    display: grid;
    justify-content: start;
}

.tutor-detail span {
    padding: 2px;
}

.personal-avatar {
    padding-top: 40px;
}

.personal-avatar img {
    border-radius: 50%;
    width: 290px;
    height: 100%;
}

.div-personal-name {
    margin: 10px;
}

.div-personal-name span {
    padding: 10px;
    font-size: 24px;
}

.personal-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.personal-history {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 40px;
}

.label span {
    font-size: 32px;
    font-weight: bold;
}

.label.last{
    margin-top: 20px;
}

.stages {
    display: flex;
}

.stage {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 2px solid #6E93D6;
    border-radius: 10px;
    max-width: 400px;
}

.stage:hover {
    background: #6e92d654;
    transition: background-color 0.3s ease;
}

.stage-info {
    display: grid;
}

.stage-name {
    font-size: 20px;
    color: #3BB273;
    padding-bottom: 5px;
}

.stage-desc {
    font-weight: bold;
    padding-bottom: 10px;
}

.stage-note {
    margin-top: 10px;
    display: flex;
}

.note-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #6E93D6;
    min-width: 110px;
    margin-right: 10px;
}

.stage-num-tasks {
    font-size: 13px;
    opacity: 50%;
}

.stage-progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
    line-height: 100px;
    position: relative;
    box-shadow: none;
}

.stage-progress-circle::after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px solid #CC2B2B;
    position: absolute;
    top: 0;
    left: 0;
}

.stage-progress-circle > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.stage-progress-circle .progress-circle-left {
    left: 0;
}

.stage-progress-circle .progress-circle {
    width: 100%;
    height: 100%;
    background: none;
    border: 12px solid #3BB273;
    position: absolute;
    top: 0;
}

.stage-progress-circle .progress-circle-left .progress-circle {
    left: 100%;
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.stage-progress-circle .progress-circle-right {
    right: 0;
}

.stage-progress-circle .progress-circle-right .progress-circle {
    left: -100%;
    border-right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.stage-progress-value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 3px;
}

.tasks {
    border: 2px solid #6E93D6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.tasks.wrap {
    max-height: 450px;
    overflow: auto;
}

.task {
    display: grid;
}

.task-info {
    display: flex;
    justify-content: space-between;
    border: 2px solid #63A583;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.task-info.active {
    margin: 10px;
    margin-bottom: 0px;
    opacity: 100%;
}

.task-info:hover {
    background: #6e92d654;
}

.task-info.wrong {
    border: 2px solid #CC2B2B;
}

.task-info.inactive {
    opacity: 50%;
    border: 2px solid #FFFFFF;
}

.task-stage-name {
    color: #3BB273;
}

.task-num {
    color: #FFFFFF;
}

.task-rating-score {
    color: #3BB273;
}

.task-rating-score.wrong {
    color: #CC2B2B;
}

.task-rating-score.inactive {
    color: #8d8d8d;
}

.tasks .task-activity {
    display: grid;
    margin: 3px;
    border: 2px solid #63A583;
    border-radius: 10px;
}

.tasks .task-activity.wrong {
    border: 2px solid #CC2B2B;
}

.tasks .task-activity:hover {
    background: #6e92d654;
}

.tasks .task-activity .task-info:hover {
    background: none;
}

.tasks .task-activity .task-info {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.tasks .task-activity .task-info .task-activity-date {
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #3BB273;
    background: #3BB273;
    /* padding: 4px; */
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
}

.tasks .task-activity .task-info.wrong .task-activity-date.wrong {
    border: 2px solid #CC2B2B;
    background: #CC2B2B;
}

.tasks .task-activity .task-activity-answer {
    color: #b8b8b8;
    padding-left: 13px;
    padding-bottom: 7px;
    max-width: 750px;
    overflow: auto;
}

.stages-item .stage {
    display: grid;
    max-width: none;
    min-width: 790px;
}

.stages-item .stage-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stages-item .progress {
    background: #CC2B2B;
}

.stages-item .progress .progress-bar {
    background: #53E88B;
}

.stages-item .tasks {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -20px;
}

.stages-item .tasks .task {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}
    
.active {
    background: #6e92d654;
}
    
.stages-item .stage-info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.stage-info .stage-info-2 span{
    padding-bottom: 10px;
    padding-top: 10px;
}
    
.stage-info .stage-note-2 {
    display: flex;
}

.task .task-answer {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid #63A583;
    margin: 10px;
    margin-top: -10px;
    padding: 10px;
    padding-top: 0;
    display: grid;
    justify-items: center;
    border-top: none;
    overflow-wrap: break-word;
}

.task-answer.hidden {
    display: none;
}

.task-answer.wrong {
    border: 2px solid #CC2B2B;
    border-top: none;
}

.task-answer-desc {
    padding: 10px;
    padding-top: 20px;
    max-width: 750px;
}

.task-answer.btn {
    padding-top: 10px;
}

.textarea {
    background-color: #e4dbd986;
    caret-color: #6E93D6;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #E4DBD9;
    border-radius: 10px;
    overflow: auto;
    resize: vertical;
    color: #FFFFFF;
    min-width: 750px;
}

.textarea:hover {
    background: none;
    transition: background-color 0.3s ease;
}

.task-answer .btn.wrong {
    border: 2px solid #ad5444;
    background-color: #ad5444;
    opacity: 75%;
}

.task-answer .btn.wrong:hover {
    opacity: 100%;
}

.task-answer .btn {
    border: 2px solid #63A583;
    background-color: #63A583;
    opacity: 75%;
}

.task-answer .btn:hover {
    opacity: 100%;
}

.task-answer .btn.inactive {
    opacity: 75%;
}

.task-answer .btn:hover {
    opacity: 100%;
}

.students-activity {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 40px;
    max-width: 900x;
}

.students-activity.min {
    min-width: 650px;
}

.students-activity .active-students {
    display: grid;
    margin-top: 15px;
}

.students-activity .active-students .userInfoA {
    text-decoration: none;
    color: #FFFFFF;
}

.students-activity .active-students .student-info {
    display: grid;
    border: 2px solid #6E93D6;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.students-activity .active-students .student-info.inactive {
    border: 2px solid #8d8d8d;
    opacity: 70%;
}

.students-activity .active-students .student-info:hover {
    background: #6e92d654;
}

.students-activity .active-students .student-info .student-info1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.students-activity .active-students .student-info .student-info1 .student-name {
    color: #27925b;
    font-size: 16px;
    font-weight: bold;
}

.students-activity .active-students .student-info .student-info1 .student-date {
    color: #fafafa;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #6E93D6;
    background: #6E93D6;
    /* padding: 4px; */
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
}

.students-activity .active-students .student-info .student-info1 .student-date.inactive {
    border: 2px solid #8d8d8d;
    background: #8d8d8d;
}

.students-activity .active-students .student-info .student-info2 {
    display: flex;
    justify-content: space-between;
}

.students-activity .label {
    display: flex;
    /* margin-bottom: 15px; */
    align-items: center;
}

.students-activity .label .give-stage-btn {
    font-size: 20px;
    margin-left: 140px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #27925b;
    background: #27925b;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
}

.students-activity .label .give-stage-btn:hover {
    background: #2F4C58;
    text-decoration: none;
}

.students-activity .label .create-account-btn {
    font-size: 20px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #27925b;
    background: #27925b;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
}

.students-activity .label .create-account-btn:hover {
    background: #2F4C58;
    text-decoration: none;
}

.second-block {
    padding-left: 70px;
    margin-top: 40px;
}

.second-block .label {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.second-block .label .create-btn {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #27925b;
    background: #27925b;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
}

.second-block .label .create-btn:hover {
    background: #2F4C58;
    text-decoration: none;
}

.tasks-info-block {
    display: flex;
    flex-direction: column;
    min-width: 790px;
    max-width: 850px;
    max-height: 750px;
    overflow: auto;
    border: 2px solid #fafafa;
    border-radius: 10px;
    padding: 5px;
}

.tasks-info-block .task-info-item {
    display: grid;
    /* padding: 10px; */
    margin: 5px;
    border: 2px solid #6E93D6;
    border-radius: 10px;
}

.tasks-info-block .task-info-item.open {
    background: #6e92d654;
}

.tasks-info-block .task-info-item .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #6E93D6;
    border-radius: 10px;
    margin: -2px;
    margin-bottom: 0px;
}

.tasks-info-block .task-info-item .item-info:hover {
    background: #6e92d654;
    cursor: pointer;
}

.tasks-info-block .task-info-item .item-info.open {
    background: #6e92d654;
}

.tasks-info-block .task-info-item .item-descrip {
    display: grid;
    padding: 10px;
    padding-top: 2px;
    background: #506a9c54;
    margin-top: -3px;
    padding-top: 5px;
}

.tasks-info-block .task-info-item .item-descrip.hidden {
    display: none;
}

.tasks-info-block .task-info-item .item-descrip .marks {
    display: flex;
    align-items: center;
}

.tasks-info-block .task-info-item .item-descrip .marks .links {
    font-size: 12px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #6E93D6;
    margin-right: 10px;
    margin-top: 5px;
}

.tasks-info-block .task-info-item .item-descrip .task-desc {
    margin: 10px;
    margin-left: 0px;
    overflow-wrap: break-word;
    overflow: auto;
}

.tasks-info-block .task-info-item .item-descrip .task-answer {
    color: skyblue;
    border: 2px solid #fafafa;
    padding: 5px;
    border-radius: 5px;
    background: #1B2A2F;
    overflow-wrap: break-word;
    overflow: auto;
}

.tasks-info-block .task-info-item .item-descrip .task-answer:hover {
    cursor: pointer;
    background: #5978b1;
}

.tasks-info-block .task-info-item .item-descrip .btn_edit_task {
    border: 2px solid #fafafa;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 200px;
    background: #5978b1;
    color: #fafafa;
    transition: background-color 0.3s ease;
}

.tasks-info-block .task-info-item .item-descrip .btn_edit_task:hover {
    background: #3c527c;
}

.stages-info-block {
    display: flex;
    flex-direction: column;
    min-width: 790px;
    max-width: 850px;
    max-height: 750px;
    overflow: auto;
}

.stages-info-block .stage-info-item {
    display: grid;
    margin: 5px;
    border: 2px solid #6E93D6;
    border-radius: 10px;
}

.stages-info-block .stage-info-item .stage-info {
    display: grid;
    border-bottom: 2px solid #6E93D6;
    border-radius: 5px;
    padding: 5px;
}

.stages-info-block .stage-info-item .stage-info .stage-marks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stages-info-block .stage-info-item .stage-info .stage-marks .links {
    font-size: 12px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #d66e6e;
    margin-right: 10px;
    margin-bottom: 2px;
}

.stages-info-block .stage-info-item .stage-info .stage-subinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stages-info-block .stage-info-item .stage-info:hover {
    background: #6e92d654;
}

.stages-info-block .stage-info-item .stage-info.open {
    background: #6e92d654;
}

.stages-info-block .stage-info-item .stage-items-info {
    margin-top: 10px;
}

.stages-info-block .stage-info-item .stage-items-info .item-info {
    display: grid;
    margin-bottom: 10px;
}

.stages-info-block .stage-info-item .stage-items-info .item-info.inactive {
    opacity: 50%;
}

.stages-info-block .stage-info-item .stage-items-info .item-info.hidden {
    display: none;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #fafafa;
    border-radius: 10px;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-name:hover {
    background: #6e92d654;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-name.open {
    background: #6e92d654;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-name .task-num {
    color: #3BB273;
    font-weight: bold;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-descrip {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #fafafa;
    border-radius: 10px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-descrip.hidden {
    display: none;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-descrip .task-desc {
    margin: 10px;
    margin-left: 0px;
    overflow-wrap: break-word;
    overflow: auto;
}

.stages-info-block .stage-info-item .stage-items-info .item-info .item-descrip .task-answer {
    color: skyblue;
    border: 2px solid #6E93D6;
    padding: 5px;
    border-radius: 5px;
    background: #152930;
    overflow-wrap: break-word;
    overflow: auto;
}

.students-activity .students-history {
    display: grid;
    max-height: 700px;
    overflow: auto;
    max-height: 750px;
}

.students-activity .students-history .student-block {
    display: grid;
    border: 2px solid #6E93D6;
    border-radius: 10px;
    margin: 1px;
    margin-top: 10px;
}

.students-activity .students-history .student-block.inactive {
    border: 2px solid #8d8d8d;
}

.students-activity .students-history .student-block .student-info {
    padding: 10px;
    border: 2px solid #6e93d6;
    border-radius: 10px;
    margin: -2px;
}

.students-activity .students-history .student-block .student-info.open {
    background: #6e92d654;
}

.students-activity .students-history .student-block .student-info.inactive {
    border: 2px solid #8d8d8d;
    opacity: 70%;
}

.students-activity .students-history .student-block .student-info:hover {
    background: #6e92d654;
}

.students-activity .students-history .student-block .student-info .student-info1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.students-activity .students-history .student-block .student-info .student-info1 .student-name {
    color: #27925b;
    font-size: 16px;
    font-weight: bold;
}

.students-activity .students-history .student-block .student-info .student-info1 .student-date {
    color: #fafafa;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #6E93D6;
    background: #6E93D6;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
}

.students-activity .students-history .student-info .student-info1 .student-date.inactive {
    border: 2px solid #8d8d8d;
    background: #8d8d8d;
}

.students-activity .students-history .student-info .student-info2 {
    display: flex;
    justify-content: space-between;
}

.students-activity .students-history .student-block2 {
    margin-top: 10px;
}

.students-activity .students-history .student-block2 .student-history-block {
    display: grid;
    border: 2px solid /* #d66e6e; */ #3BB273;
    border-radius: 10px;
    /* padding: 10px; */
    margin: 10px;
    margin-top: 0px;
}

.students-activity .students-history .student-block2 .student-history-block.incorrect {
    border: 2px solid /* #3BB273 */ #d66e6e;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid /* #d66e6e; */ #3BB273;
    margin: -2px;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info.incorrect {
    border: 2px solid /* #3BB273 */ #d66e6e;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info:hover {
    background: #6e92d654;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info.open {
    background: #6e92d654;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info .student-stage-name {
    font-weight: bold;
    color: #6E93D6;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info .student-time {
    font-size: 12px;
    /* font-weight: bold; */
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: /* #d66e6e */ #3BB273;
    margin-left: 15px;
    /* color: #333; */
}

.students-activity .students-history .student-block2 .student-history-block .student-task-info .student-time.incorrect {
    background-color: /* #27925b */ #d66e6e;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info {
    margin: 10px;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-time {
    font-size: 12px;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-answer {
    border: 2px solid /* #d66e6e */ #27925b;
    padding: 5px;
    border-radius: 5px;
    max-width: 700px;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-answer.incorrect {
    border: 2px solid /* #27925b */ #d66e6e;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-answer.open {
    background: #6e92d654;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-answer .answer-code {
    color: skyblue;
    overflow-wrap: break-word;
    overflow: hidden;
}

.students-activity .students-history .student-block2 .student-history-block .student-task-block .answer-task-info .answer-answer .answer-code.wrap {
    overflow: auto;
}

span.task-stage-name {
    margin-right: 10px;
}

span.task-rating {
    margin-left: 10px;
}

span.task-name {
    margin-right: 10px;
}

span.task-date {
    margin-left: 10px;
}