body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111B1E;
    overflow-x: hidden;
    line-height: normal;
}

header {
    background-color: #63A583;
    padding: 5px 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.text {
    color: #FFFFFF;
}

.text b {
    color: #53E88B;
}

.user-role {
    color: #ccc;
    font-size: 12px;
}

.user-phone {
    color: #ccc;
    font-size: 14px;
}

.menu-content {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: auto;
    background-color: #1B2A2F;
    transition: left 0.3s ease;
    padding-top: 5px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}

.user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px; /* Добавлен отступ для увеличения области клика */
}

.user-detail {
    display: flex;
    flex-direction: column;
}

.user-info:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Эффект при наведении */
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 1px 10px;
}

.menu-item.first {
    padding-top: 10px;
}

.menu-item.last {
    padding-bottom: 10px;
}

.menu-link {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #63A583;
    border-radius: 10px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    background-color: #77bc9b;
}

.menu-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Эффект при наведении */
}

.pages_link {
    margin-left: auto;
    margin-right: auto;
}

.show-menu {
    left: 0;
}

.modal-content {
    background-color: #2F4C58;
    color: white;
    border-radius: 10px;
    border: 2px solid #6E93D6;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: white;
}

.modal-body {
    padding: 20px;
    padding-bottom: 0px;
}

.modal-footer {
    border-top: none;
}

.modal-footer .btn-primary {
    background-color: #63A583;
    border-color: #63A583;
}

.modal-footer .btn-primary:hover {
    background-color: #77bc9b;
    border-color: #77bc9b;
}

.modal-footer .btn-secondary {
    background-color: #a5402f;
    border-color: #a5402f;
    color: white;
}

.modal-footer .btn-secondary:hover {
    color: #ccc;
}

.user-rating {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rating-label {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.rating-ellipse {
    width: 155px;
    height: 155px;
    border: 12px solid #FFFFFF;
    opacity: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-ellipse span {
    color: #FFFFFF;
    font-size: 24px;
}

main {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111B1E;
    color: #FFFFFF;
}

.user-info-container {
    text-align: center;
}

.tutor-detail {
    display: grid;
    justify-content: start;
}

.tutor-detail span {
    padding: 2px;
}

.personal-avatar {
    padding-top: 40px;
}

.personal-avatar img {
    border-radius: 50%;
    width: 290px;
    height: 100%;
}

.div-personal-name {
    margin: 10px;
}

.div-personal-name span {
    padding: 10px;
    font-size: 24px;
}

.personal-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.personal-history {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 40px;
}

.label span {
    font-size: 32px;
}

.label.last{
    margin-top: 20px;
}

.stages {
    display: flex;
}

.stage {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 2px solid #6E93D6;
    border-radius: 10px;
    max-width: 400px;
}

.stage:hover {
    background: #6e92d654;
    transition: background-color 0.3s ease;
}

.stage-info {
    display: grid;
}

.stage-name {
    font-size: 20px;
    color: #3BB273;
    padding-bottom: 5px;
}

.stage-desc {
    font-weight: bold;
    padding-bottom: 10px;
}

.stage-note {
    margin-top: 10px;
    display: flex;
}

.note-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #6E93D6;
    min-width: 110px;
    margin-right: 10px;
}

.stage-num-tasks {
    font-size: 13px;
    opacity: 50%;
}

.stage-progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
    line-height: 100px;
    position: relative;
    box-shadow: none;
}

.stage-progress-circle::after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px solid #CC2B2B;
    position: absolute;
    top: 0;
    left: 0;
}

.stage-progress-circle > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.stage-progress-circle .progress-circle-left {
    left: 0;
}

.stage-progress-circle .progress-circle {
    width: 100%;
    height: 100%;
    background: none;
    border: 12px solid #3BB273;
    position: absolute;
    top: 0;
}

.stage-progress-circle .progress-circle-left .progress-circle {
    left: 100%;
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.stage-progress-circle .progress-circle-right {
    right: 0;
}

.stage-progress-circle .progress-circle-right .progress-circle {
    left: -100%;
    border-right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.stage-progress-value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 3px;
}

.tasks {
    border: 2px solid #6E93D6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.task {
    border: 2px solid #63A583;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.task:hover {
    background: #6e92d654;
}

.task.wrong {
    border: 2px solid #CC2B2B;
}

.task-stage-name {
    color: #3BB273;
}

.task-num {
    color: #FFFFFF;
}

.task-rating-score {
    color: #3BB273;
}

.task-rating-score.wrong {
    color: #CC2B2B;
}

.stages-item .stage {
    display: grid;
    max-width: none;
    min-width: 790px;
}

.stages-item .stage-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stages-item .progress {
    background: #CC2B2B;
}

.stages-item .progress .progress-bar {
    background: #53E88B;
}

.stages-item .tasks {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -20px;
}

.stages-item .tasks .task {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}
    
.active {
    background: #6e92d654;
}
    
.stages-item .stage-info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.stage-info .stage-info-2 span{
    padding-bottom: 10px;
    padding-top: 10px;
}
    
.stage-info .stage-note-2 {
    display: flex;
}